<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.security.gurume365.mapper.UsersMapper">
	<insert id="insertUsers" parameterType="Users">
		insert into Users(
			id
			,pw
			,name
			,date_of_birth
			,phone
			,division
		)values(
			#{id}
			,#{pw}
			,#{name}
			,#{date_of_birth}
			,#{phone}
			,#{division}
		)
	</insert>

	<select id="selectUsers" parameterType="String" resultType="Users">
		select * from Users where id = #{id}
	</select>
	
	<update id="permitUsers" parameterType="Users">
		update Users
			set
		permit = "Y"
			where
		id = #{id}
	</update>
</mapper>